*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/src/main/assets/yamnet.tflite
app/src/main/assets/*.part
/.vs/SleepPauseTV_MVP.slnx/FileContentIndex
